<html>
  <head>
    <title>Bem vindo ao Gympoint</title>
    <script src="https://kit.fontawesome.com/0069ef6553.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');

      html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
      }

      body {
        background: url('http://alexsandrodev.com.br/gympoint/bg.jpg') top center;
        background-size: cover;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        height: 100%;
      }

      .wrap {
        width: 80%;
        margin: 1rem auto
      }

      .logo {
        margin-bottom: 2rem;
        font-size: 24px;
        font-weight: 700
      }

      .message {
        margin: 0 auto 2rem 0;
        padding: 0;
        border-left: 4px solid #fff;
        border-right: 4px solid #fff;
        background: rgba(32,32,32,.8);
        padding: 1rem;
        font-size: 12px
      }

      .plan {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 0 0 2rem 0;
      }

      .plan > div {
        background: rgba(255,255,255,.7);
        color: #ee4d64;
        padding: 0.5rem;
        border-radius: 0.25rem;
      }

      .plan-title {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
      }

      .plan-item strong {
        text-transform: uppercase;
        font-size: 14px
      }

      .plan-item {
        width: calc(33.3333333333% - 0.33333333333rem);
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      {{{body}}}
      {{> footer}}
    </div>
  </body>
</html>

