<div class="logo">
  <img src="http://alexsandrodev.com.br/gympoint/logo.png">
</div>

<div class="message">
  Olá {{ student }}, sua pergunta "{{ question }}" foi respondida.
  <p><strong>Resposta:</strong> {{ answer }}</p>
  Ainda ficou alguma dúvida? Envie outra pergunta!
</div>
