<div class="logo">
  <img src="http://alexsandrodev.com.br/gympoint/logo.png">
</div>

<div class="message">
  Olá {{ student }}, obrigado por se matricular em nossa academia.
  <p>Aqui você encontra os aparelhos mais modernos para se exercitar no dia a dia, lembrando que o acesso só pode ser feito 5 vezes durante um perídodo de 7 dias seguidos.</p>
  SEJA MUITO BEM VINDO!
</div>

<div class="plan">
  <div class="plan-title">Plano Gold</div>
  <div class="plan-item">
    <strong>Duração</strong><br /> {{ duration }}
  </div>
  <div class="plan-item">
    <strong>Expira em</strong><br /> {{ expiration_date }}
  </div>
  <div class="plan-item">
    <strong>Preço</strong><br /> R${{ price }}
  </div>
</div>
